In [7]:
import mysql.connector
from datetime import date
 
conn  = mysql.connector.connect(
    host="localhost",      
    user="root", 
    password="""GYHxiao0606!""", 
    database="hospital" 
)
cursor = conn.cursor()

In [2]:

cursor.execute("SELECT * FROM hospital.department")
rows = cursor.fetchall()  
for row in rows:
    print(row)

(1, 'sugery', 'Description of item 1')
(2, 'internal', 'Description of item 2')

In [14]:
doctors_data = [
        (1, "Dr.A", "a", date(2015, 6, 1), date(2025, 6, 1)),
        (2, "Dr.B", "b", date(2018, 3, 15), None),  
        (3, "Dr.C", "c", date(2020, 1, 10), date(2023, 12, 31)),
        (4, "Dr.D", "d", date(2017, 9, 1), None)
    ]

In [17]:
insert_query = """
    INSERT INTO hospital.doctor (id, name, description, start_date, end_date)
    VALUES (%s, %s, %s, %s, %s)
    """
cursor.executemany(insert_query, doctors_data)
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'doctor.PRIMARY'

In [4]:
patients_data = [
    (101, "Mr.Zhang", "hypertension", date(2023, 5, 15)),
    (102, "Mr.Li", "diabetes", date(2023, 6, 20)),
    (103, "Mr.Wang", "cold", date(2023, 7, 10)),
    (104, "Mr.Zhao", "physical examination", date(2023, 8, 5))
]
insert_query = """
INSERT INTO hospital.patient (id, name, description, visit_date)
VALUES (%s, %s, %s, %s)
"""
cursor.executemany(insert_query, patients_data)
conn.commit()

In [5]:
cursor.execute("SELECT * FROM hospital.patient")
rows = cursor.fetchall()
for row in rows:
    print(row)

(101, 'Mr.Zhang', 'hypertension', datetime.date(2023, 5, 15))
(102, 'Mr.Li', 'diabetes', datetime.date(2023, 6, 20))
(103, 'Mr.Wang', 'cold', datetime.date(2023, 7, 10))
(104, 'Mr.Zhao', 'physical examination', datetime.date(2023, 8, 5))

In [8]:
dept_doctor_data = [
        # (department_id, doctor_id, creat_date, update_date, description)
        (1, 1, date(2015, 6, 1), date(2025, 6, 1), "a"),
        (2, 2, date(2018, 3, 15), None, "b"),
        (2, 3, date(2020, 1, 10), date(2023, 12, 31), "c"),
        (2, 4, date(2017, 9, 1), None, "d")
    ]

In [10]:
new_relations = [
        rel for rel in dept_doctor_data 
    ]

In [13]:
cursor.execute("DESCRIBE hospital.department_doctor")
columns = cursor.fetchall()

# 打印字段信息
print("Field\tType\tNull\tKey\tDefault\tExtra")
for col in columns:
    print("\t".join(str(c) if c is not None else "NULL" for c in col))

Field	Type	Null	Key	Default	Extra
department_id	int	NO	PRI	NULL
doctor_id	int	YES		NULL
creat_date	date	YES		NULL
update_date	date	YES		NULL
description	varchar(45)	YES		NULL

In [14]:
cursor.execute("ALTER TABLE department_doctor DROP PRIMARY KEY")
cursor.execute("ALTER TABLE department_doctor ADD PRIMARY KEY (department_id, doctor_id)")
conn.commit()

In [15]:
insert_query = """
INSERT INTO department_doctor 
(department_id, doctor_id, creat_date, update_date, description)
VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(insert_query, new_relations)
conn.commit()

成功插入 4 条科室-医生关系记录

当前科室-医生关系：
dept_id	dept_name	doctor_id	doctor_name	description	update_date
1	sugery	1	Dr.A	a	2025-06-01
2	internal	3	Dr.C	c	2023-12-31
2	internal	2	Dr.B	b	NULL
2	internal	4	Dr.D	d	NULL

In [16]:
# check

cursor.execute("""
SELECT d.id as dept_id, d.name as dept_name, 
        doc.id as doctor_id, doc.name as doctor_name,
        dd.description, dd.update_date
FROM department_doctor dd
JOIN department d ON dd.department_id = d.id
JOIN doctor doc ON dd.doctor_id = doc.id
ORDER BY dd.update_date DESC
""")
        

columns = [desc[0] for desc in cursor.description]
print("\t".join(columns))


for row in cursor.fetchall():
    print("\t".join(
        str(x) if x is not None else "NULL" 
        for x in row
    ))

dept_id	dept_name	doctor_id	doctor_name	description	update_date
1	sugery	1	Dr.A	a	2025-06-01
2	internal	3	Dr.C	c	2023-12-31
2	internal	2	Dr.B	b	NULL
2	internal	4	Dr.D	d	NULL

In [17]:
cursor.execute("DESCRIBE hospital.doctor_patient")
columns = cursor.fetchall()

# 打印字段信息
print("Field\tType\tNull\tKey\tDefault\tExtra")
for col in columns:
    print("\t".join(str(c) if c is not None else "NULL" for c in col))

Field	Type	Null	Key	Default	Extra
doctor_id	int	NO	PRI	NULL
patient_id	int	YES		NULL
visit_date	date	YES		NULL
decription	varchar(45)	YES		NULL

In [18]:
cursor.execute("ALTER TABLE doctor_patient DROP PRIMARY KEY")
cursor.execute("ALTER TABLE doctor_patient ADD PRIMARY KEY (doctor_id,patient_id)")
conn.commit()

In [21]:
doctor_patient_data = [
        # (doctor_id, patient_id, visit_date, decription)
        (1, 101, date(2023, 5, 15), "a"),
        (2, 102, date(2023, 6, 20), "b"),
        (3, 103, date(2023, 7, 10), "c"),
        (4, 104, date(2023, 8, 5), "d")
    ]
new_relations = [
        rel for rel in doctor_patient_data
    ]
insert_query = """
INSERT INTO hospital.doctor_patient
(doctor_id, patient_id, visit_date, decription)
VALUES (%s, %s, %s, %s)
"""
cursor.executemany(insert_query, new_relations)
conn.commit()

In [22]:
cursor.execute("DESCRIBE hospital.doctor_patient")
for row in cursor.fetchall():
    print(row)

('doctor_id', 'int', 'NO', 'PRI', None, '')
('patient_id', 'int', 'NO', 'PRI', None, '')
('visit_date', 'date', 'YES', '', None, '')
('decription', 'varchar(45)', 'YES', '', None, '')

In [23]:
cursor.execute("SELECT * FROM hospital.doctor_patient")
rows = cursor.fetchall()  
for row in rows:
    print(row)

(1, 101, datetime.date(2023, 5, 15), 'a')
(2, 102, datetime.date(2023, 6, 20), 'b')
(3, 103, datetime.date(2023, 7, 10), 'c')
(4, 104, datetime.date(2023, 8, 5), 'd')